@font-face {
    font-family: 'Courier New', Courier, monospace;
    src: url('assets/BaiJamjuree-Bold.ttf') format("truetype");
    font-display: swap;
}

body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    background-color: green;
}