@font-face {
    font-family: 'Courier New', Courier, monospace;
    font-display: swap;
}

body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    background-color: green;
}